body {
  background-color: #000000;
  padding: 0px;
  margin: 0px;

}
.header {
  position: absolute;
  z-index: 1;
  width: 1896px;
  height: 48px;
  background-image: url('../img/header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 26px

}
.textt {
  height: 100vh;
  width: 632px;
  background-repeat: no-repeat;
  background-image: url('../img/palka.jpg');
  position: absolute;
  z-index: 2;
  opacity: 10;
  margin-left: 86px;
}
.mapbox {
  position: absolute;
  z-index: 0;
  border: none;
  background-blend-mode: darken;

}
.textt_2 {
  height: 100vh;
  width: 333px;
  background-repeat: no-repeat;
  background-image: url('../img/2nd_palka.jpg');
  position: absolute;
  z-index: 3;
  opacity: 10;
  margin-left: 1478px;
}
